*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* The header section navbar style */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E55473;
    padding: 5px;
    color: white;
    position: fixed;
    width: 100%;
}

.logo a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 30px;
}

.menu li{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.menu a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.menu .list a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.btn a{
    list-style-type: none;
    text-decoration: none;
    color: #E55473;
}

.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: white;
}

.btn:hover{
    cursor: pointer;
    background-color: tomato;
    color: white;
}

.btn a:hover{
    cursor: pointer;
    color: white;
}

/* This is the website main section style */


